
{% extends 'main/base.html' %}


{% block title %}
Login
{% endblock %}


<body>
    
    {% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?{% now 'U' %}">
    
    <div class="login_page">
        <img id="logo" width="60px" height="70px" src="{% static 'img/logo.png' %}" alt="My image">
        <h1 style="font-family: 'Roboto Condensed', sans-serif;">Present Po!</h1>

    </div>

    <div class="box">
        <div class="profile">
            
        </div>
        <div class="txt_field">
            <input class="user_text" type="text" onfocus="this.value=''" value="Enter Username">
        </div>
        <div class="txt_field">
            

            <input class="pass_text" type="text" onblur="this.value=!this.value?'Password':this.value;" onfocus="this.select()" onclick="if (this.value=='Enter Password'){this.value=''; this.type='password'}" name="pwd" id="user_pass" value="Enter Password">
            <button class="button" type="button"><strong>Login</strong></button>
            <div class="signup_link">or <a href="/main/signup.html/">SignUp</a></div>
        </div>
        
        
    </div>

    <div class="team_logo">
        <p style="font-family: 'Inter', sans-serif; left: 5px; ">from</p>
        <img id="valco" width="60px" height="70px" src="{% static 'img/valcoLogo.png' %}" alt="My image">

    </div>

    {% endblock %}
    {% block js_script %}
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    {% endblock %}

</body>


