*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.example::-webkit-scrollbar {
    display: none;
}
  

body{
    overflow: hidden;
    background-color: #F5DEB3;


}
.login_page{
    width: 300px;
    height: 300px;
    text-align: center;
    top: 30px;
    left: 60px;
    position: relative;
}

.login_page img{
    width: 250px;
    height: 300px;
}

.login_page h1{
    position: relative;
    top: -120px;
    left: 170px;
    font-size: 50px;
    font-family: R;

}

.box {
    position: relative;
    background-color: white;
    height: 460px;
    width: 350px;
    left: 850px;
    top: -340px;
    border-radius: 20px;
}

.team_logo{
    position: relative;
    left: 360px;
    top: -460px;
}
.team_logo p{
    opacity: 70%;
    left: 20px;
    position: relative;
}

.box form{
    position: relative;
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    align-items: center;

}

form .text_field{
    position: relative;
    border-bottom: 2px solid;
    top: 20px;
}

.text_field input{
    width: 100%;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

button {
    position: relative;
    left: 80px;
    top: 100px;
    background-color: #EC994B;
    border: none;
    color: #EEEEEE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    height: 50px;
    width: 180px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;


}


.signup_link{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    position: relative;
    left: 150px;
    top: 110px;
    cursor: pointer;
}



.user_text, .pass_text{
    position: relative;
    left: 40px;
    width: 270px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border-color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #828282;

}
.user_text{
    top: 70px;
    
}

.pass_text{
    top: 90px;
    
}

.profile{
    position: relative;
    width: 180px;
    height: 180px;
    top: 30px;
    left: 85px;
    border-radius: 150px;
    border-style: solid;
}