*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5DEB3;
    overflow: hidden;

}

.box_container{
    position: relative;
    top: 45px;
    left: 90px;
    height: 300px;
    width: 470px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
}

.user_text, .pass_text{
    outline: none;
    position: relative;
    left: 70px;
    width: 320px;
    height: 30px;
    border-color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: #EC994B solid 1px;
    background-color: none;

}

button{
    position: relative;
    width: 210px;
    height: 45px;
    top: 160px;
    left: 120px;
    border: none;
    border-radius: 10px;
    background-color: #EC994B;
    color: #FDFBFB;
    cursor: pointer;

}

.user_text{
    top: 60px;

}

.pass_text{
    top: 110px;

}
p{
    position: relative;
    left: 60px;
    font-family: 'Inter', sans-serif;
}

.user_label{
    top: 60px;

}

.pass_label{
    top: 100px;
}

.box_container2{
    position: relative;
    left: 700px;
    top: -200px;
    font-family: 'Inter', sans-serif;

}
.box_container2 strong{
    font-size: 60px;
}

